 .text-yellow {color: #681414 !important;} 
 .sidebar path { fill: #681414 !important; }
 .btn-admin {background: linear-gradient(180deg, #681414, #681414 )!important} .svg_icon path{ fill: #681414 !important;}